html
   head
      meta(charset="UTF-8")
      title Dayoung's Music List
      link(rel="stylesheet" href="./button.css" type="text/css")
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
           
   body
      h1= "ðŸ“ƒ"+title+"ðŸ“ƒ"
      h2= "í˜„ìž¬ ì´ : " + count + "ê³¡ðŸŽµ"
      h3= "ðŸŽ¶" + login_id + "ë‹˜ ë°˜ê°‘ìŠµë‹ˆë‹¤ðŸ˜Š ì œëª©ì„ í´ë¦­í•˜ë©´ ìƒì„¸ íŽ˜ì´ì§€ë¡œ ì´ë™í•©ë‹ˆë‹¤ðŸŽ¶"
      ul
         for item in list
            li
               a(href='/musics/'+item.music_id)
                h3=item.title + " [" + item.artist + "]"
         div.button
            a(href='/music/add') ìŒì•… ì¶”ê°€í•˜ê¸°
            div.eff
         div.button(onclick=`logout()` value="LOGOUT")
            a() ë¡œê·¸ì•„ì›ƒðŸ‘‹ðŸ»
            div.eff

      script.
         function logout() {
            $.ajax({
               url: '/logoutChk',
               type: 'delete'
            }).done((data) => {
               // ë¡œê·¸ì•„ì›ƒ ì„±ê³µ
               alert('ë¡œê·¸ì•„ì›ƒ ë˜ì—ˆìŠµë‹ˆë‹¤.');
               window.location.href = "http://15.165.74.127:3000/musics";
            }).fail((err) => {
               // ë¡œê·¸ì•„ì›ƒ ì‹¤íŒ¨        
               $("#login-result").text(" ë¡œê·¸ì•„ì›ƒ ì‹¤íŒ¨");
            });
         }